In [1]:
import pandas as pd

In [2]:
from urllib.request import urlretrieve

In [3]:
# loading it into a pandas dataframe

countries_df = pd.read_csv('COVID WorldWide.csv')

# data from 'ourworldindata.org'

In [4]:
countries_df

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,...,population,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
0,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,38928341.0,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83
1,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,38928341.0,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83
2,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,38928341.0,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83
3,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,38928341.0,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83
4,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,NaN,...,38928341.0,2.581,1.337,1803.987,597.029,9.59,NaN,NaN,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111593,Africa,Zimbabwe,19/08/2021,121902.0,404.0,4198.0,17.0,NaN,NaN,NaN,...,14862927.0,2.822,1.882,1899.775,307.846,1.82,1.6,30.7,1.7,61.49
111594,Africa,Zimbabwe,20/08/2021,121902.0,0.0,4198.0,0.0,NaN,NaN,NaN,...,14862927.0,2.822,1.882,1899.775,307.846,1.82,1.6,30.7,1.7,61.49
111595,Africa,Zimbabwe,21/08/2021,122487.0,585.0,4236.0,38.0,NaN,NaN,NaN,...,14862927.0,2.822,1.882,1899.775,307.846,1.82,1.6,30.7,1.7,61.49
111596,Africa,Zimbabwe,22/08/2021,122652.0,165.0,4249.0,13.0,NaN,NaN,NaN,...,14862927.0,2.822,1.882,1899.775,307.846,1.82,1.6,30.7,1.7,61.49
111597,Africa,Zimbabwe,23/08/2021,123001.0,349.0,4293.0,44.0,NaN,NaN,NaN,...,14862927.0,2.822,1.882,1899.775,307.846,1.82,1.6,30.7,1.7,61.49

In [5]:
# How many countries and continents does the dataframe contain?

countries_df['location'].nunique()

233

In [6]:
countries_df['continent'].nunique()

6

In [7]:
country_count = 233

In [8]:
print('There are {} countries in the dataset'.format(country_count))

There are 233 countries in the dataset

In [9]:
continents = 6

In [10]:
# What are the top 10 countries with the highest populations?

# first creating a dataframe sorted by population

most_populous_df = countries_df.sort_values('population', ascending=False)

In [14]:
# dropping 'world' and continents/groups of countries from the column 'location' so it isn't included in the results

most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'World'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'Africa'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'Asia'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'Europe'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'European Union'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'North America'], inplace=True)
most_populous_df.drop(most_populous_df.index[most_populous_df['location'] == 'South America'], inplace=True)

In [15]:
# finally dropping duplicated countries in the location column

most_populous_df = most_populous_df.drop_duplicates(subset=['location'])

In [22]:
# finally we have a list of the 10 countries in the world with the highest population

most_populous_df = most_populous_df['location'].head(10)

In [23]:
most_populous_df

21356             China
46086             India
105865    United States
47187         Indonesia
76836          Pakistan
14172            Brazil
73252           Nigeria
8694         Bangladesh
83091            Russia
64938            Mexico
Name: location, dtype: object